name: Update Playwright Snapshots

on:
  issue_comment:
    types: [created, edited]

permissions:
  contents: write
  pull-requests: write

jobs:
  update-snapshots:
    runs-on: ubuntu-latest

    # Only run on issue comments
    if: github.event.issue.pull_request && contains(github.event.comment.body, 'please update snapshots')

    steps:
      - uses: jupyterlab/maintainer-tools/.github/actions/update-snapshots-checkout@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Install micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-name: xeus-lite-dev
          micromamba-version: '2.0.5-0'
          condarc: |
            channels:
              - https://prefix.dev/conda-forge

      - name: Install dependencies
        run: python -m pip install -U "jupyterlab>=4.4,<5" jupyterlite-core

      - name: Install extension
        run: |
          set -eux
          jlpm
          python -m pip install .

      - name: Install ui-tests
        run: |
          jlpm
          jlpm run build
        working-directory: ui-tests

      - uses: jupyterlab/maintainer-tools/.github/actions/update-snapshots@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Playwright knows how to start JupyterLab server
          start_server_script: 'null'
          test_folder: ui-tests
